body {
    /* background-color: #333;*/
    background-image: url(paper.png);
    background-repeat: repeat;
}
.paper-effect {
    width: 1000px;
    height: 600px;

    border: 10px solid white;

    /* perfect H/V center */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;

    /* turn on 3D */
    perspective: 1000px;
}
.paper-effect > div {
    border: 1px solid black;
    width: 198px;
    height: 598px;

    float: left;

    background-image: url(fall.jpg);
}
.paper-effect > div:nth-child(1):after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 50%, black 150%);
    transform: translateY(-20px);
}
.paper-effect > div:nth-child(2) {
    background-position: -200px 0;

    transform: translateX(-50px)
               rotateY(-45deg) 
               scaleY(1.07);                              
    
}
.paper-effect > div:nth-child(2):after {    
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 50%, black 150%);
    transform: translateY(-20px);             
}
.paper-effect > div:nth-child(3) {
    background-position: -400px 0;

    transform: translateX(-110px)
               rotateY(45deg) 
               scaleY(1.07); 
               
}
.paper-effect > div:nth-child(3):after {  
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 20%, black 120%);
    transform: translateY(-20px);
}
.paper-effect > div:nth-child(4) {
    background-position: -600px 0;

    transform: translateX(-170px)
               rotateY(-45deg) 
               scaleY(1.07);
}
.paper-effect > div:nth-child(4):after {    
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 20%, black 130%);
    transform: translateY(-20px);             
}
.paper-effect > div:nth-child(5) {
    background-position: -800px 0;

    transform: translateX(-230px)
               rotateY(45deg) 
               scaleY(1.07);
}
.paper-effect > div:nth-child(5):after {    
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 50%, black 150%);
    transform: translateY(-20px);             
}